<!DOCTYPE html>
<html>
<head>
  <title>ATIP Carrier Pigeon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>

&copy; ATIP Carrier Pigeon <%= Time.now.year %>

</body>
</html>
