<!DOCTYPE html>
<html>
<head>
  <title>ATIP Carrier Pigeon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= current_user.email %>
        <ul>
          <li><%= link_to 'Change profile', edit_user_registration_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<%= yield %>

<hr>

&copy; ATIP Carrier Pigeon <%= Time.now.year %>

</body>
</html>
